.room-code {
  height: 2.5rem;
  border-radius: 0.5rem;
  overflow: hidden;

  background: #FFF;
  border: 0.0625rem solid #835afd;
  cursor: pointer;

  display: flex;

  div {
    background: #835afd;
    padding: 0 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 100%;

    img {
      width: 90%;
      height: 90%;
    }
  }

  span {
    display: block;
    align-self: center;
    padding: 0 1rem 0.5rem;
    width: 15rem;
    font-size: 0.875rem;
    font-weight: 500;
  }
}